people:
  -
    name: Bilbo
    group: Bagginses
    phone: 15555555555
  -
    name: Frodo
    group: Bagginses
    phone: 15555555555
  -
    name: Gandalf
    group: Ishtari
    phone: 15555555555
  -
    name: Saruman
    group: Ishtari
    phone: 15555555555
  -
    name: Gimli
    group: Dwarves
    phone: 15555555555
  -
    name: Legolas
    group: Elves
    phone: 15555555555
  -
    name: Aragorn
    group: Rangers
    phone: 15555555555
